<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Music_portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Music_portal.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #050a5f">
    <header>
		<nav class="head">
            <div class="container-fluid" style="display: flex; justify-content: space-around; align-items:center;">
                               
                @if (Context.Session.GetString("Login") == null)
                {
                    <a class="navbar-brand" style="color: white" asp-area="" asp-controller="Account" asp-action="Register">@Resources.Resource.Registration</a>
                    <a class="navbar-brand" style="color: white" asp-area="" asp-controller="Account" asp-action="Login">@Resources.Resource.Authorization</a>
                } 
                 else
                {
                    <a class="navbar-brand" style="color: white" asp-area="" asp-controller="Account" asp-action="Logout">@Resources.Resource.Exit</a>
                    <div class="hello"><span>@Resources.Resource.Hello, @Context.Session.GetString("Login")</span></div>
				}
                <div class="gif"></div>
                <div class="MusPortal">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="linkMusPl">@Resources.Resource.MusicPortal</a>
                </div>  
                @using (Html.BeginForm("ChangeCulture", "Home"))
                {
                    <select name="lang" style="width:130px; height: 27px; padding: 1px;"class="form-control">                        
                        <option value="en">English</option>
                        <option value="uk">Українська</option>
                        <option value="de">Deutsch</option>
                        <option value="fr">Français</option>
                    </select>
                    <input type="submit" name="submit" value="@Resources.Resource.ChooseLang" class="butLang">
                }
            </div>
        </nav>
    </header>
    <hr style="color: white; height: 3px; margin: 0px"/>
    
    <div class="myContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Music portal 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
