@model Music_portal.Models.Genre

@{
    ViewData["Title"] = "DeleteGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="name">@Resources.Resource.DeleteGenre:</div>

<h3 class="del">@Resources.Resource.DeleteGenreConfirm</h3>
<br />
<div>
    <h4 class="del">@Resources.Resource.Genre:</h4>
        <div class = "del">
            @Html.DisplayFor(model => model.Name)
        </div>
    <br />
    <form asp-action="DeleteGenre">
        <input type="hidden" asp-for="Id" />        
        <div style=" display:flex">
            <div class=" but">
                <input class="sub" type="submit" value="@Resources.Resource.Delete" />
            </div>
            <div class="but">
                <a asp-action="Genres" class="link">@Resources.Resource.BackToList</a>
            </div>
        </div>    
    </form>
</div>
