@model IEnumerable<Music_portal.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}
<div class="name">@Resources.Resource.Genres</div>
<hr />

    <div>
    <a class="animated-button1" asp-controller="Genre" asp-action="CreateGenre">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        @Resources.Resource.AddGenre
    </a>
    </div>

<div class="text-center">
    <table class="table" style="width: 500px;">
        <thead>
            <tr>
                <th>
                    @Resources.Resource.Name                  
                </th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                        <td>                            
                            <a asp-action="EditGenre" asp-route-id="@item.Id" class="link">@Resources.Resource.Edit</a> |
                            <a asp-action="DeleteGenre" asp-route-id="@item.Id" class="link">@Resources.Resource.Delete</a>
                        </td>
                </tr> 
            }
        }
        </tbody>
    </table>    
</div>
<div  class="but" style=" margin-left: 330px;">
    <a asp-controller="Home" asp-action="Index" class="link">@Resources.Resource.BackToList</a>
</div>