@model Music_portal.Models.User
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="name">@Resources.Resource.EditUser:</div>
    <div>
        <div class="col-md-4">
            <form asp-action="EditUser" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label labl">@Resources.Resource.FirstName</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label labl">@Resources.Resource.LastName</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div><div class="form-group">
                    <label class="control-label labl">@Resources.Resource.Login</label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div><div class="form-group">
                    <label asp-for="Email" class="control-label labl">@Resources.Resource.Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div><div class="form-group">
                    <label class="control-label labl">@Resources.Resource.Access</label>
                    <input asp-for="Access" class="form-control" />
                    <span asp-validation-for="Access" class="text-danger"></span>
                </div>
                <br />
                <div style=" display:flex">
                    <div class=" but">
                        <input class="sub" type="submit" value="@Resources.Resource.Save" />
                    </div>
                    <div class="but">
                        <a asp-action="NewUsers" class="link">@Resources.Resource.BackToList</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
   

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
