@* @model IEnumerable<Music_portal.Models.Song> *@
@using Music_portal.Models
@model Music_portal.Models.IndexViewModel
@using Music_portal.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left: 1100px;" class="search">   
    <form metod ="get" asp-action="Index">
        <input type="text" name="text" placeholder="@Resources.Resource.SearchSong" />
        <button type="submit" name="submit"/>
    </form> 
</div>


@if (Context.Session.GetString("Acces") == "2" || Context.Session.GetString("Login") == "admin")
{ 
    <div style="display: flex; margin-left: 600px;">    
    <div class="but">
            <a class="link" asp-controller="Genre" asp-action="Genres">@Resources.Resource.Genres</a>
    </div>
    <div class="but">
            <a class="link" asp-controller="Singer" asp-action="Singers">@Resources.Resource.Singers</a>
    </div>
    <div class="but">
            <a class="link" asp-controller="Home" asp-action="NewUsers">@Resources.Resource.Users</a>
    </div>
    </div>
 } 

@if (Context.Session.GetString("Acces") == "1" || Context.Session.GetString("Acces") == "2" || Context.Session.GetString("Login") == "admin")
{
    <div>
        <a class="animated-button1" asp-controller="Home" asp-action="CreateSong">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            @Resources.Resource.AddSong
        </a>
    </div>
}

<br />
<form method="get">    
    <div style="display: flex; vertical-align: bottom; margin-left: 95px;">
        <div >
            <label class="control-label labl filtlabl">@Resources.Resource.Singer: </label>
        <select class="form-control filt" name="singer" asp-items="Model.FilterViewModel.Singers"></select>
        </div>
        <div >
            <label class="control-label labl filtlabl">@Resources.Resource.Genre: </label>
        <select class="form-control filt" name="genre" asp-items="Model.FilterViewModel.Genres"></select>
        </div>
        <div class="divbutfilt">
            <input type="submit" class="butfilt" value="@Resources.Resource.Filter" />
        </div>

    </div>
</form>
<br />
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.TitleSort">
                        @Resources.Resource.Title
                    </sort-header>
                </th>
                <th>
                    <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.SingerSort">
                        @Resources.Resource.Singer
                    </sort-header>
                </th>               
                <th>
                    <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.GenreSort">
                        @Resources.Resource.Genre
                    </sort-header>
                </th>
                <th>
                    <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current"
                                 property="@Model.SortViewModel.YearSort">
                        @Resources.Resource.Year
                    </sort-header>
                </th>                
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model.Songs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Singer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            <div class="audio" id="aud">
                                <audio controls >
                                    <source src = "@Html.DisplayFor(modelItem => item.PathToFile)">
                                </audio>
                            </div>
                        </td>
                       
                            <td>
                            @if (Context.Session.GetString("Login") == "admin")
                            {
                                <a asp-controller="Home" asp-action="EditSong" asp-route-id="@item.Id" class="link">@Resources.Resource.Edit |</a>
                            }                            
                            @if (Context.Session.GetString("Login") == "admin")
                            {
                                <a asp-controller="Home" asp-action="DeleteSong" asp-route-id="@item.Id" class="link">@Resources.Resource.Delete</a>
                            }
                            </td>                        
                </tr> 
            }
        }
        </tbody>
    </table>
    </div>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-singer="@(Model.FilterViewModel.SelectedSinger)"
           page-url-genre="@(Model.FilterViewModel.SelectedGenre)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
