@model Music_portal.Models.Singer

@{
    ViewData["Title"] = "DeleteSinger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="name">@Resources.Resource.DeleteSinger:</div>

<h3 class="del">@Resources.Resource.DeleteSingerConfirm</h3>
<br />
<div>
    <h4 class="del">@Resources.Resource.Singer:</h4>
        <div class = "del">
        @Resources.Resource.Name
            @* @Html.DisplayFor(model => model.Name) *@
        </div>
    <br />
    <form asp-action="DeleteSinger">
        <input type="hidden" asp-for="Id" />        
        <div style=" display:flex">
            <div class=" but">
                <input class="sub" type="submit" value="@Resources.Resource.Delete" />
            </div>
            <div class="but">
                <a asp-action="Singers" class="link">@Resources.Resource.BackToList</a>
            </div>
        </div>    
    </form>
</div>
